/*style.css*/
body {
  margin-bottom: 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 1.5em;
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}


.footer { 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  z-index: 10;
  background-color: #131B23;
  width: 100%;
  padding: 15px 0;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.footer div a {
  padding: 10px;
}

.header {
  background-color: #131B23;
}

.h2-daten {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.table-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.table-self {
  width: 80%;
  border-collapse: collapse;
}

.table-self th,
.table-self td {
  border: 1px solid #2274A5;
  padding: 8px;
  text-align: left;
}

.message span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 16px;
  text-align: center;
  line-height: 44px;
}

.error span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 16px;
  text-align: center;
  line-height: 44px;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 0;
}

.h2container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 0;
}

#button {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

#button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

#button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

#button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}


.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}


#form {
  background-color: #cccccc;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

#input-container {
  position: relative;
}

#input-container select, input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

#input-container select, input {
  background-color: #cccccc;
  color: #000;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

#input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

#submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #3590F3;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 95%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

#signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

#signup-link a {
  text-decoration: underline;
}


.registercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}